<div>
  <h2>Prédictions de Demande</h2>

  <label>Choisir un produit :</label>
  <select [(ngModel)]="selectedProductId" (change)="updateFilteredPredictions()">
    <option *ngFor="let product of uniqueProducts" [value]="product.id">
      {{ product.name }} ({{ product.id }})
    </option>
  </select>

  <table>
    <tr><th>Date</th><th>Quantité</th></tr>
    <tr *ngFor="let pred of filteredPredictions">
      <td>{{ pred.date }}</td>
      <td>{{ pred.predicted_quantity }}</td>
    </tr>
  </table>
</div>
