<div class="forgot-password-page">
  <div class="forgot-password-wrapper">
    <!-- Section formulaire -->
    <div class="form-section">
      <div class="forgot-password-container">
        <div class="form-container">
          <h2>Mot de passe oublié</h2>
          <p>Veuillez entrer votre adresse email pour réinitialiser votre mot de passe.</p>
      
          <div class="input-container">
            <input type="email" [(ngModel)]="email" placeholder="Email" required>
            <i class="fas fa-envelope"></i>
          </div>
      
          <button class="submit-btn" (click)="resetPassword()" [disabled]="loading">
            {{ loading ? 'Envoi en cours...' : 'Réinitialiser le mot de passe' }}
          </button>
      
          <a routerLink="/" class="back-to-login" (click)="goToLogin()">Retour à la connexion</a>
      
          <div *ngIf="loading" class="spinner"></div>
      
          <div *ngIf="message" class="message" [ngClass]="{'error': isError, 'success': !isError}">
            {{ message }}
          </div>
        </div>
      </div>
  
    
    <!-- Section image -->
    <div class="image-section">
      <img src="assets/images/forgetpassword.jpg">
    </div>
  </div>  </div>
</div>